.globe {
    
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
  }


/* Responsive layout */
@media (max-width: 800px) {
  .globe {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}