.map {
    
    overflow: visible;
    position: relative;
    width: 100%;
    height: 500px;
  }


/* Responsive layout */
@media (max-width: 800px) {
  .map {
    height: 300px;
    overflow: visible;
    position: relative;
    width: 100%;
  }
}